<plugin>
	<nom>Squirrels Love Chimps Lists</nom>
	<auteur>[Spade->http://blog.spade.be/] et [Rainer M&#252;ller->http://websimple.be]</auteur>
	<licence>GNU/GLP</licence>
	<version>2.0.3</version>
	<licence>MIT</licence>
	<etat>test</etat>
	<slogan>Gestion de mailing listes de Mailchimp</slogan>
	<description>Gestion de mailing listes de [Mailchimp->http://mailchimp.com/] inspir&#233;e des fonctionnalit&#233;s du plugin Wordpress [Autochimp->http://wordpress.org/extend/plugins/autochimp/] avec quelques "emprunts" de code du plugin SPIP "MailChimp de [Ben->http://www.nursit.net]</description>
	<prefix>squirrel_chimp_lists</prefix>
	<icon>images/logo_slc_lists.png</icon>
	<necessite id="SPIP" version="[2.0.14;2.1.99]" />
	<necessite id="squirrel_chimp" version="[2.0.0;]" />
	<necessite id="spip_bonux" version="[2.2.17;]" />
	<pipeline>
		<nom>squirrel_chimp_definitions</nom>		
		<inclure>squirrel_chimp_lists_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_traiter</nom>		
		<inclure>squirrel_chimp_lists_pipelines.php</inclure>
	</pipeline>
	<fonctions>squirrel_chimp_lists_fonctions.php</fonctions>
    <options>squirrel_chimp_lists_options.php</options>	
	<categorie>communication</categorie>
	<traduire gestionnaire="salvatore" module="scl" reference="fr" />
</plugin>