<plugin>
	<nom>Squirrels Love Chimps Lists Plus</nom>
	<auteur>[Spade->http://blog.spade.be/] et [Web Simple->http://websimple.be]</auteur>
	<licence>GNU/GLP</licence>
	<version>1.0.6</version>
	<version_base>0.2.14</version_base>	
	<licence>MIT</licence>
	<etat>test</etat>
	<slogan>Gestion avancé de mailing listes de Spip et de Mailchimp</slogan>
	<description>
		Gestion avancés de mailing listes de [Mailchimp->http://mailchimp.com/] 
		
		Synchronistation entre listes Spip et liste mailchimps
	</description>
	<prefix>sclp</prefix>
	<icon>images/logo_slc_lists.png</icon>
	<necessite id="SPIP" version="[2.0.14;3.0.99]" />
	<necessite id="squirrel_chimp" version="[2.0.0;]" />
	<necessite id="squirrel_chimp_lists" version="[2.0.0;]" />
	<necessite id="spip_bonux" version="[2.2.17;]" />
	<install>base/installation.php</install>	
	<pipeline>
		<nom>declarer_tables_principales</nom>
		<inclure>base/sclp.php</inclure>
	</pipeline>	
	<pipeline>
		<nom>declarer_tables_auxiliaires</nom>
		<inclure>base/sclp.php</inclure>
	</pipeline>	
	<pipeline>
		<nom>declarer_tables_interfaces</nom>
		<inclure>base/sclp_tables_interfaces.php</inclure>
	</pipeline>	
	<pipeline>
		<nom>squirrel_chimp_definitions</nom>		
		<inclure>sclp_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>formulaire_traiter</nom>		
		<inclure>sclp_pipelines.php</inclure>
	</pipeline>
	<pipeline>
		<nom>affiche_milieu</nom>		
		<inclure>sclp_pipelines.php</inclure>
	</pipeline>	
 	<pipeline>
		<nom>taches_generales_cron</nom>		
		<inclure>sclp_pipelines.php</inclure>
	</pipeline> 	
 	<pipeline>
		<nom>squirrel_chimp_lists_config_traiter</nom>		
		<inclure>sclp_pipelines.php</inclure>
	</pipeline> 	
 	<pipeline>
		<nom>header_prive</nom>		
		<inclure>sclp_pipelines.php</inclure>
	</pipeline> 	
	<fonctions>sclp_fonctions.php</fonctions>
	<categorie>communication</categorie>
	<traduire gestionnaire="salvatore" module="sclp" reference="fr" />
</plugin>
