.menu_mailchimp{width=100%;}
.menu_mailchimp .onglet{float: left;margin-bottom:5px}
.menu_mailchimp .onglet_off a{color:white}

.squirrel_chimp dt {font-weight:bold;}
.squirrel_chimp dd {padding-left:2px; margin-left:2px; }
.squirrel_chimp dd.odd {background-color:#EEEEEE}
.squirrel_chimp dd.event {background-color:#FFFFFF}


